<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="dbcs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\mohdf\OneDrive\Documents\Employee_database.mdb"
   providerName="System.Data.OleDb" />
  <add name="dbce" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Faizan file\Database\PracticDatabace.mdb"
   providerName="System.Data.OleDb" />
  <add name="Employee_Management_System.Properties.Settings.Employee_databaseConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Employee_database.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>